@import url("bootstrap.css");
@import url("../font-awesome/css/font-awesome.min.css");
@import url("bootstrap-additions.css");
@import url("bootstrap-btn-mods.css");
/*@import url("../bootstrap/css/bootstrap-responsive.min.css");*/

.rotate    {
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
}